* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #cebca6;
}
.cup {
  width: 160px;
  height: 162px;
  margin: 3rem auto;
  position: relative;
}
.cup::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  top: -10px;
  z-index: 1;
  background-color: rgba(247, 247, 247, 0.5);
  border-radius: 50%;
}
.cup-body {
  width: 100%;
  height: 100%;
  background-color: rgba(247, 247, 247, 0.9);
  clip-path: path("m 0 0 q 4.59 145.8 34.425 155.52 c 29.835 8.1 68.85 8.1 96.39 0 q 29.835  -9.72 29.835 -155.52 c 143 11 16 13 0 0 z");
  display: flex;
  flex-direction: column-reverse;
}
.layer {
  text-align: center;
  border-radius: 80px/10px;
  height: 50px;
  position: relative;
}
.layer::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 20px;
  border-radius: 50px;
  background: inherit;
}
.coffer {
  background: rgba(75, 49, 31, 0.8);
}
.water {
  background: rgba(125, 207, 230, 0.8);
}
.layer:nth-child(n + 2) {
  margin-bottom: -20px;
}
